

<div class="ng-container">

<div class="spacer">
</div>
<p>
  <ngb-alert [dismissible]="false" i18n="Warning Message|Warning information message@@WarningMessage">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </ngb-alert>
</p>

<div class="btn-group btn-group-toggle">
  <label class="btn-primary" ngbButtonLabel i18n="Button Left|Group of toggle button Left@@ButtonLeft">
    <input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
  </label>
  <label class="btn-primary" ngbButtonLabel i18n="Button Middle|Group of toggle button Middle@@ButtonMiddle">
    <input type="checkbox" ngbButton [(ngModel)]="model.middle"> Middle
  </label>
  <label class="btn-primary" ngbButtonLabel i18n="Button Right|Group of toggle button Right@@ButtonRight">
    <input type="checkbox" ngbButton [(ngModel)]="model.right"> Right
  </label>
</div>
<hr>
<pre>{{model | json}}</pre>
</div>



<router-outlet></router-outlet>